<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::content}, ~{::title}, ~{::script})}"
>
  <!-- <title data-th-text="${loggedInUser.name}+' | SCM'"></title> -->
  <title th:fragment="title" th:text="${loggedInUser.name} + ' | SCM'"> </title>

  <section
    th:fragment="content"
    class="flex justify-center flex-col items-center"
  >
    <div data-th-if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar:: sidebar}"></div>
    </div>

    <div
      th:if="${message}"
      class="mt-4 p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
    >
      <span th:text="${message.content}"></span>
    </div>

    <!-- Error Message -->
    <div
      th:if="${errorMessage}"
      class="mt-2 p-2 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    >
      <span th:text="${errorMessage.content}"></span>
    </div>

    <form
      class="mt-8 w-full max-w-xl mx-auto p-5 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm space-y-4"
      th:method="post"
      th:object="${contactForm}"
      th:action="@{/user/contacts/update/{id}(id=${id})}"
      enctype="multipart/form-data"
      novalidate
    >
      <!-- Name Field -->
      <div class="mb-3">
        <label for="name" class="block mb-2.5 text-sm font-medium text-heading"
          >Contact Name <span class="text-red-500">*</span></label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <i class="fa-solid fa-circle-user"></i>
          </div>
          <input
            th:field="*{name}"
            id="name"
            type="text"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="name"
          />
        </div>
        <p
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          class="mt-1 text-sm text-red-600 dark:text-red-400"
        ></p>
      </div>

      <!-- Email Field -->
      <div class="mb-3">
        <label for="email" class="block mb-2.5 text-sm font-medium text-heading"
          >Contact Email <span class="text-red-500">*</span></label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <i class="fa-solid fa-envelope"></i>
          </div>
          <input
            th:field="*{email}"
            type="text"
            id="email"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="email"
          />
        </div>
        <p
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
          class="mt-1 text-sm text-red-600 dark:text-red-400"
        ></p>
      </div>

      <!-- Phone Field -->
      <div class="mb-3">
        <label for="phone" class="block mb-2.5 text-sm font-medium text-heading"
          >Contact Phone <span class="text-red-500">*</span></label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <i class="fa-solid fa-phone"></i>
          </div>
          <input
            th:field="*{phoneNumber}"
            type="text"
            id="phoneNumber"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="phone number"
          />
        </div>
        <p
          th:if="${#fields.hasErrors('phoneNumber')}"
          th:errors="*{phoneNumber}"
          class="mt-1 text-sm text-red-600 dark:text-red-400"
        ></p>
      </div>

      <!-- Address Field -->
      <div class="mb-3">
        <label
          for="address"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Contact Address <span class="text-red-500">*</span></label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <i class="fa-solid fa-house"></i>
          </div>
          <input
            th:field="*{address}"
            type="text"
            id="address"
            class="block w-full ps-9 pe-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
            placeholder="address"
          />
        </div>
        <p
          th:if="${#fields.hasErrors('address')}"
          th:errors="*{address}"
          class="mt-1 text-sm text-red-600 dark:text-red-400"
        ></p>
      </div>

      <!-- Description Field -->
      <div class="mb-3">
        <label
          for="description"
          class="block mb-2.5 text-sm font-medium text-heading"
          >Contact Description</label
        >
        <textarea
          th:field="*{description}"
          id="description"
          rows="4"
          class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body"
          placeholder="Write about this contact...."
        ></textarea>
      </div>

      <!-- Social Links -->
      <div class="flex space-x-3 mb-3">
        <!-- Website -->
        <div class="w-full">
          <div class="relative mb-3">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i
                class="fa-solid fa-earth-americas text-gray-500 dark:text-gray-400"
              ></i>
            </div>
            <input
              th:field="*{websiteLink}"
              id="websiteLink"
              type="url"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="https://example.com"
            />
          </div>
          <p
            th:if="${#fields.hasErrors('websiteLink')}"
            th:errors="*{websiteLink}"
            class="text-sm text-red-600 dark:text-red-400"
          ></p>
        </div>

        <!-- LinkedIn -->
        <div class="w-full">
          <div class="relative mb-3">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i
                class="fa-brands fa-linkedin text-gray-500 dark:text-gray-400"
              ></i>
            </div>
            <input
              th:field="*{linkedInLink}"
              id="linkedInLink"
              type="url"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="https://linkedin.com/in/username"
            />
          </div>
          <p
            th:if="${#fields.hasErrors('linkedInLink')}"
            th:errors="*{linkedInLink}"
            class="text-sm text-red-600 dark:text-red-400"
          ></p>
        </div>
      </div>

      <!-- Image Upload -->

      <div class="mb-7">
        <!-- Show existing image -->
        <div th:if="${existingImageUrl}">
          <p class="text-sm text-gray-600 mb-2">Current Image</p>
          <img
            th:src="${existingImageUrl}"
            class="max-h-52 mx-auto rounded-lg shadow mb-3"
            alt="Current Contact Image"
          />
        </div>

        <!-- New image preview -->
        <img
          class="max-h-52 mx-auto rounded-lg shadow m-3 hidden"
          id="upload_image_preview"
          alt="New Image Preview"
        />

        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="image_file_input"
        >
          Change Image (optional)
        </label>

        <input
          class="block w-full mb-2 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600"
          type="file"
          th:field="*{contactImage}"
          id="image_file_input"
        />

        <p
          th:if="${#fields.hasErrors('contactImage')}"
          th:errors="*{contactImage}"
          class="text-sm text-red-600 dark:text-red-400"
        ></p>
      </div>

      <!-- Favorite Checkbox -->
      <div class="flex items-center mb-3">
        <input
          th:field="*{favorite}"
          type="checkbox"
          id="favorite"
          class="w-4 h-4 text-blue-600 bg-brown-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          Is this contact your favorite?
        </label>
      </div>

      <!-- Buttons -->
      <div class="button-container text-center">
        <button
          type="submit"
          class="px-3 py-2 dark:bg-blue-600 hover:dark:bg-blue-700 rounded bg-black text-white"
        >
          Update
        </button>
        <button
          type="reset"
          class="px-3 py-2 dark:bg-blue-600 hover:dark:bg-blue-700 rounded bg-black text-white"
        >
          Reset
        </button>
      </div>
    </form>
    <script data-th-src="@{'/js/admin.js'}"></script>
    <script data-th-src="@{'/js/update.js'}"></script>
  </section>

  <!-- <script th:fragment="script"></script> -->
</html>
