<aside
  data-th-fragment="sidebar"
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-full transition-transform -translate-x-full md:translate-x-0 bg-neutral-primary-soft border-r border-default"
>
  <div class="pt-20 h-full px-3 py-4 overflow-y-auto">
    <a data-th-href="@{/user/dashboard}" class="flex items-center ps-2.5 mb-5">
      <img src="/images/phone-chat.png" class="h-6 me-3" alt="SCM Logo" />
      <span
        class="self-center text-lg text-heading font-semibold whitespace-nowrap"
        >Welcome to SCM</span
      >
    </a>

    <ul class="space-y-2 font-medium">
      <li>
        <a
          data-th-href="@{/user/dashboard}"
          class="flex items-center px-2 py-1.5 rounded-base hover:bg-neutral-tertiary hover:text-fg-brand"
        >
          <i class="fa-solid fa-house w-5 h-5"></i>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          data-th-href="@{/user/profile}"
          class="flex items-center px-2 py-1.5 rounded-base hover:bg-neutral-tertiary hover:text-fg-brand"
        >
          <i class="fa-solid fa-user w-5 h-5"></i>
          <span class="ms-3">Profile</span>
        </a>
      </li>
      <li>
        <a
          data-th-href="@{/user/contacts/add}"
          class="flex items-center px-2 py-1.5 rounded-base hover:bg-neutral-tertiary hover:text-fg-brand"
        >
          <i class="fa-solid fa-plus w-5 h-5"></i>
          <span class="ms-3">Add Contact</span>
        </a>
      </li>
      <li>
        <a
          data-th-href="@{/user/contacts/view}"
          class="flex items-center px-2 py-1.5 rounded-base hover:bg-neutral-tertiary hover:text-fg-brand"
        >
          <i class="fa-solid fa-address-book w-5 h-5"></i>
          <span class="ms-3">Contacts</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
